<div class="col-md-8 col-md-offset-4">
    <h2>新增product</h2>

    <hr>
    <%= simple_form_for [:admin, @product] do |f| %>

    商品名称
    <div class="group">
      <%= f.input :title %>
    </div>
    <br>
    商品图片
    <br>
    <div class="group">
      <%= f.input :image %>
    </div>
    <br>
    商品描述
    <br>
    <div class="group">
      <%= f.input :description %>
    </div>
    <br>
    价格
    <br>
    <div class="group">
      <%= f.input :price %>
    </div>
    <br>
    库存
    <br>
    <div class="group">
      <%= f.input :quantity %>
    </div>
    <br>

    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>

</div>
